/*메인 화면 버튼*/
.indexbtn{
    text-align : center;
}

/*로그인, 회원가입, 뒤로가기 버튼*/
#signinbtn, #signupbtn, #backbtn{
    width: 100px;
    margin : 15px;
}

/*상단의 페이지 제목*/
.subtitle {
    margin : 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size : 32px;
    font-weight : bold;
    text-align : center;
    border-bottom:1px solid;
    padding-bottom : 40px;
}

/*페이지 제목 옆 프로필*/
.profileicon{
    height : 50px;
    position : relative;
    top : 13px;
}

/*좌측상단 홈 버튼*/
.Homebtn{
    border-radius : 10px;
}

/*포탈버튼*/
.portalbtn{
    padding : 20px;
    width : 100px;
    word-wrap: break-word;
    word-break: break-all;
    border-right-style: solid;
}

/*포탈버튼*/
#myCEbtn, #enterbtn, #leftbtn, #recommendbtn, #logoutbtn{
    width: 100px;
    margin-bottom : 15px;
    border-radius : 10px;
}