.subtitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size : 32px;
    font-weight : bold;
    text-align : center;
    border-bottom:1px solid;
    padding-bottom : 40px;
}

.button{
    
}